body {
    background-color: beige;
}

.clicked {
    background-color: green;
}

.unclicked {
    background-color: grey;
} 

.service-icon {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    background-color: beige;
}