@font-face {
    font-family: 'FinkHeavy';
    src: local('FinkHeavy'), url(FinkHeavy.otf) format('opentype')
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_QyZ_Dt_ZQi7BSrH9Jq_sS5oMLey0PJ6ODpioA71Kht7Hmwvo&usqp=CAU);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: FinkHeavy;
    font-size: 18px;
    height: 100%;
}

#root {
    background-color: rgba(207, 245, 215, 0.747);
    width: 80%;
    border-radius: 15px;
    margin-top: 10px;
}

.navbar {
    margin-top: 10px;
}

.navbar a {
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    font-size: 48px;
}

#nook {
    border-radius: 15px;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link-card {
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.bug-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bug-page-wrapper p {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 75px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom: 18px;
    width: 75%;
}

table, th, td {
    border: 1px solid rgb(127, 132, 133);
    background-color:  rgba(207, 245, 215, 0.747);
}

th, td {
    padding: 5px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }
  
table tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }
  
table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }
  
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }

#bug-icon {
    height: 64px;
    width: 64px;
    border-radius: 25px;
}

.clicked {
    background-color: rgb(119, 231, 119);
}

.unclicked {
    background-color: rgb(196, 196, 196);
} 

.service-icon {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    background-color: rgba(171, 216, 236, 0.911);
}